.cards_box{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    *{
        color: black;
        text-decoration: none;
    }

    .img_box{
        box-shadow: 0 3px 6px 0 #00000029;
        height: 75%;
        width: 100%;

        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .data{
        background: #e1e1e159;
        border-radius: 0 0 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;

        .title{
        }

        .price{
            font-weight: bold;
            font-size: 1rem;

            @media only screen and (max-width: 600px) {
                font-size: initial;
            }
        }
        .dis{
            font-size: small;
        }
    }
}