.main_div{


.header_div{
    width: 100%;
    display: flex;
    justify-content: center;

.header_ptag{
    font-size: 25px;
}}

.about_ptag{
    font-size: 15px;
    margin: 4%  0%;
}
.about_input{
    display: flex
    
}


}
