.mbl_footer{
    margin: 0%;
    // box-sizing: border-box;
    background: rgb(27, 25, 25);
    color: #cfcfcf;


    @media only screen and (min-width: 801px) {
        display: none;
    }
    

}

.mbl_footer_container{

    padding: 1rem .5rem;
    h3{
        margin-bottom: .5rem;
    }
        
    .mbl_footer_newsletter{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #cfcfcf;

        
        p{
            font-size: small;
            margin-bottom: .3rem;
        }
        input{
            padding: .5rem;
            border-radius: 5px;
            outline: none;
        }
    }

    .mbl_footer_payment{
        margin-bottom: 1rem;
        border-bottom: 2px solid #cfcfcf;

        img{
            height: 2.5rem;
            margin: 1rem 0;
        }
    }

    .mbl_footer_branches{
        margin-bottom: 1rem;
        border-bottom: 2px solid #cfcfcf;

        ul{
            list-style: none;

            li{
                display: list-item;
                text-align: -webkit-match-parent;

                b{
                    float: left;
                    min-width: 90px;
                    width: min-content;
                }
                p{
                    overflow: auto;
                    margin: 2rem 1rem;
                }
            }
        }
    }

    .mbl_footer_contact{
        margin-bottom: 1rem;
        border-bottom: 2px solid #cfcfcf;

        ul{
            list-style: none;

            li{
                display: list-item;
                text-align: -webkit-match-parent;

                b{
                    float: left;
                    min-width: 95px;
                    width: min-content;
                }
                p{
                    overflow: auto;
                    margin: 2rem 1rem;
                }
            }
        }
    }

    .mbl_footer_company{
        margin-bottom: 1rem;
        border-bottom: 2px solid #cfcfcf;

        ul{
            list-style: none;

            li{
                width: 49%;
                display: inline-block;
                margin-bottom: .8rem;
                font-size: small;

                *{
                    text-decoration: none;
                    color: inherit;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .mbl_footer_icon{
        margin-bottom: 1rem;
        border-bottom: 2px solid #cfcfcf;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        *{
            margin-bottom: 1rem;
            &:hover{
                cursor: pointer;
                color: #ed1c24;
            }
        }

    }

    .mbl_footer_copy{
        font-size: xx-small;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a{
            text-decoration: none;
            color: #ed1c24;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
