.s1_container{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 3rem 0;
    // height: 105vh;

    // @media only screen and (max-width: 1500px){
    //     height: 85vh;
    // }
    // @media only screen and (max-width: 1400px){
    //     height: 90vh;
    // }
    // @media only screen and (max-width: 600px){
    //     height: auto;
    // }
}
.s1_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.s1_box_heading{
    // padding-top: 40px;
    font-size: 40px;

    @media only screen and (max-width: 1500px){
        padding-top: 30px;
        font-size: 30px;
    }
    @media only screen and (max-width: 1400px){
        padding-top: 25px;
        font-size: 25px;
    }
    @media only screen and (max-width: 1200px){
        padding-top: 20px;
        font-size: 22px;
    }
}
.s1_card_box{
    margin-top: 3rem;
    height: 85%;
    width:100%;
    display:grid;
    grid-template-columns:repeat(4 , 300px);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    
    @media only screen and (max-width: 1500px){
        grid-template-columns:repeat(4 , 230px);
        font-size: 15px;
    }
    @media only screen and (max-width: 1400px){
        grid-template-columns:repeat(4 , 200px);
        font-size: 13px;
    }
    @media only screen and (max-width: 1200px){
        grid-template-columns:repeat(4 , 180px);
        font-size: 12px;
    }
    @media only screen and (max-width: 850px){
        grid-template-columns:repeat(4 , 160px);
        font-size: 12px;
    }
    @media only screen and (max-width: 750px){
        grid-template-columns:repeat(4 , 140px);
        font-size: 12px;
    }
    @media only screen and (max-width: 680px){
        grid-template-columns:repeat(4 , 120px);
        font-size: 12px;
    }
    @media only screen and (max-width: 600px){
        grid-template-columns:repeat(2 , 250px);
        font-size: 12px;
    }
    @media only screen and (max-width: 550px){
        grid-template-columns:repeat(2 , 210px);
        font-size: 12px;
    }
    @media only screen and (max-width: 500px){
        grid-template-columns:repeat(2 , 180px);
        font-size: 12px;
    }
    @media only screen and (max-width: 400px){
        grid-template-columns:repeat(2 , 150px);
        font-size: 12px;
    }

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card img{
    width:-webkit-fill-available;
}
.card_name{
    background-color: #ffd47d;
    border-radius: 0 0 5px 5px;
    width:-webkit-fill-available;
    text-align: center;
    padding: 10px;
}