.signup_container{
    padding: 2rem;
    margin: 0 auto;
    border: 2px solid #999;

    @media only screen and (max-width: 1400px) {
        padding: 1rem;
    }
}
.signup_box{
    display: grid;
    justify-content: center;
    position: relative;

}
.form{
    position: relative;
    width: 28.125rem;
    height: auto;
    padding: 1rem 2rem;

    @media only screen and (max-width: 1400px) {
        width: 25rem;
        padding: .5rem 1rem;
    }
}
