.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 700px) {
        flex-direction: column-reverse;
    }

    .login_btn_container{
        margin-right: 7%;
    
    
        @media only screen and (max-width: 700px) {
            margin: 0;
        }

        #logbtn{
            @media only screen and (max-width: 850px) {
                font-size: 10px;
            }
        }
    }

    .signup_box{
        padding: 2rem;
        border: 2px solid #999;

        @media only screen and (max-width: 1400px) {
            padding: 1rem;
        }

        .form{
        position: relative;
        width: 28.125rem;
        height: auto;
        padding: 1rem 2rem;

        @media only screen and (max-width: 1400px) {
            width: 25rem;
            padding: .5rem 1rem;
        }
        @media only screen and (max-width: 850px) {
            width: 22rem;
            padding: .5rem 1rem;
        }
    }

    }

}

